* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 450;
    line-height: 1.5;
    font-size: 12px;
    color: black;
    overflow-x: hidden;
}

body {
    position: relative;
    margin-top: 57.3px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 30px;
    margin-bottom: 3rem;
}

h3 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 1rem;
}

h4 {
    font-size: 12px;
    margin-bottom: .5rem;
}

/* UTILITY CLASSES */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-100 {
    width: 100%;
}

.bkg-white {
    background-color: white;
}

.bkg-lightblue {
    background-color: #B4D0E7;
}

.btn-blue {
    color: white;
    background-color: #126CFF;
    padding: 0.3rem 1.2rem;
    text-align: center;
}

.centered-90 {
    width: 90%;
    margin: 0 auto;
}

.centered-75 {
    width: 75%;
    padding-top: 8rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.centered-65 {
    max-width: 65%;
    margin: 0 auto;
    padding-top: 8rem;
}

.column {
    float: left;
    width: calc((100% - 7rem) / 3);
    min-height: 65em;
}

.center-col {
    margin: 0 3.5rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    min-width: 1280px;
    height: 57.3px;
}

header > * {
    float: left;
}

header img {
    display: inline-block;
    width: 8rem;
    vertical-align: middle;
    margin-right: 3rem;
}

.nav-bar {
    width: calc(100% - 8rem - 3rem);
    position: relative;
}

.nav-bar nav {
    display: inline-block;
    line-height: 18.9px;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-bar li {
    display: inline-block;
    margin-right: 3rem;
    vertical-align: sub;
}

.nav-bar nav:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -3rem;
} 

.nav-bar a:hover {
    line-height: 18.9px;
    border-bottom: 1px solid black;
}

/* MAIN-SEC */
.main-sec {
    height: 48rem;
    padding: 6rem 10rem;
    overflow-y: visible;
    overflow-block: visible;
}

.main-sec h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.col-sec > div {
    display: inline-block;
}

.col-sx {
    float: left;
    width: 30%;
    margin-right: 5rem;
    vertical-align: top;
}

.col-dx {
    float: left;
    width: calc(100% - 30% - 5rem);
}

.col-dx img {
    width: 100%;
}

.col-sx p {
    margin-bottom: 2rem;
}

.col-sx a {
    display: inline-block;
    margin-bottom: 1rem;
}

.col-sx > a + div {
    font-size: 10px;
    margin-bottom: 2rem;
}

.col-sx > a:last-child {
    width: 2rem;
}

/* BIG-SEC */
.big-sec {
    margin-top: 5rem;
}

/* BIZ-SECTION */
.billing {
    margin-bottom: 2.5rem;
    line-height: 15px;
}

.billing > span {
    vertical-align: middle;
}

.billing > span:last-child {
    margin-left: 1rem;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

.circle.blue {
    border: 4px solid #126CFF;
}

.circle.lightgrey {
    border: 1px solid lightgrey;
}

/* BIZ-COLUMNS */
.column.left {

}

.biz-columns .column {
    border: 1px solid lightgrey;
}

.header-col {
    display: inline-block;
    line-height: 3rem;
    vertical-align: middle;
    font-size: 13px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.header-col svg {
    height: 14px;
    vertical-align: middle;
}

.main-col {
    padding: 1.5rem;
    font-size: 10px;
}

.main-col .price {
    font-size: 13px;
    margin-bottom: .5rem;
}

.main-col .contract-dur{
    color: grey;
    margin-bottom: 1.5rem;
}

/* BIZ-UL */
.main-col ul {
    list-style-type: none;
    margin-bottom: 3rem;
}

.main-col li {
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.main-col li span {
    display: inline-block;
    width: calc(100% - 15px);
    vertical-align: text-top;
}

.main-col li i {
    width: 11px;
}

.main-col .btn-blue {
    margin-bottom: 2rem;
}

.main-col .oppure-span+a {
    display: inline-block;
    text-decoration: underline;
    color: #126CFF;
}

.main-col > .oppure-span {
    display: inline-block;
    width: fit-content;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2rem;
}

.offer-list i {
    color: #126CFF;
}

.offer-list li {
    margin: 2rem 0;
}

.offer-list li:first-child {
    margin-top: 1.5rem;
}

.offer-list li span {
    margin-left: .2rem;
}

/* BIZ-FOOTER */
.biz-footer {
    float: left;
    margin-top: 3rem;
    width: 100%;
    border: 1px solid lightgrey;
    margin-bottom: 10rem;
}

.main-col > div.clearfix {
    position: relative;
}

.biz-footer .btn-blue {
    display: block;
    position: absolute;
    right: 0;
    top: .5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.biz-footer p {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

/* PARTNER-CONTACTS-SECTION */
.partner-cont-sec {
    margin-bottom: 4rem;
}

.partner-cont-sec img {
    width: 55%;

}

.text-col {
    float: right;
    width: calc(100% - 55% - 3.5rem);
    padding-top: 2.5rem;
}

.text-col p {
    margin-bottom: 2rem;
    margin-top: .5rem;
    line-height: 1.7;
}

.text-col a {
    border: .5px solid black;
    padding: .5rem 1rem;
}

/* OFFERS-SECTION */
.column > img {
    width: 100%;
}

.offers-sec .column {
    min-height: min-content;
    margin-bottom: 5rem;
}

.offers-sec p>span {
    text-decoration: underline;
}

.offers-sec {
    margin-bottom: 6rem;
}

/* 500.000-TEAM-SEC */
.teams-sec h2 {
    margin-bottom: 1.5rem;
}

.teams-sec a {
    color: #126CFF;
    text-decoration:underline;
}

.teams-sec {
    margin-bottom: 3rem;
}

/* PARTNERS-LOGOS-SECTION */
.logos-col {
    float: left;
    height: 384px;
}

.logos-col.side {
    width: 30%;
}

.logos-col.middle {
    background-color: #F5F5F5;
    width: 40%;
}


.logo-container {
    z-index: -1;
    position: relative;
    width: 50%;
    float: left;
    height: 50%;
}

.logo-container.designit {
    background-color: #A2D39B;
    border: .7em solid #D0E9CD;
}

.logo-container.asu {
    background-color: #61082B;
}

.logo-container.uf {
    background-color: #0093CE;
}

.logo-container.topps {
    background-color: #FF2E2E;
}

.logo-container.wbr {
    background-color: #D5001F;
}

.logo-container.hearst {
    background-color: #B4D0E7;
}

.logo-container.lp {
    background-color: #0D2481;
}

.logo-container.cco {
    background-color: #FFD830;
}

.logo-container img {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.logos-col.middle {
    padding: 4rem;
}

.logos-col.middle img {
    position: relative;
    width: 100px;
}

.logos-col.middle img + div {
    width: 3rem;
    height: 2rem;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 3.5rem;
}

.logos-col.middle p {
    margin-bottom: 3rem;
}

.logos-col.footer {
    background-color: #B4D0E7;
    width: 100%;
    height: min-content;
    padding: 8rem 19rem;
    color: #61082B;
}

.logos-col.footer h2 {
    display: inline-block;
    margin-bottom: 0;
}

.logos-col.footer a {
    background-color: white;
    display: block;
    float: right;
    padding: 0.3rem 3.5rem;
}

/* FAQ-SECTION */
.faqs-container {
    border-top: 1px solid lightgrey;
    margin-bottom: 8rem;
}

.faq {
    line-height: 22.9px;
    padding: 2.5rem 3rem 2.5rem 0;
    border-bottom: 1px solid lightgrey;
}

.faq h4 {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 0;
}

.faq a {
    font-size: 20px;
    display: block;
    float: right;
}

.faq i {
    vertical-align: middle;
}

/* FOOTER */
footer {
    width: 100%;
    height: min-content;
    background-color: black;
    color: white;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5.4rem;
    line-height: 2;
}

footer ul h3 {
    font-size: 15px;
}

footer ul a {
    color: white;
    font-size: 11px;
}

.hr-white {
    width: 8rem;
    height: 8rem;
    border-bottom: 1px solid white;
    margin-bottom: 3rem;
}

.lang {
    color: grey;
}













