* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 450;
    line-height: 1.5;
    font-size: 12px;
    color: black;
    overflow-x: hidden;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

h2 {
    font-size: 30px;
    margin-bottom: 4rem;
}

/* UTILITY CLASSES */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-1300 {
    max-width: 1300px;
}

.bkg-white {
    background-color: white;
}

.bkg-lightblue {
    background-color: #B4D0E7;
}

.btn-blue {
    color: white;
    background-color: #126CFF;
    padding: 0.3rem 1.2rem;
}

.centered-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.centered-800 {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
}

header > * {
    float: left;
}

header img {
    display: inline-block;
    width: 8rem;
    vertical-align: middle;
    margin-right: 3rem;
}

.nav-bar {
    width: calc(100% - 8rem - 3rem);
    position: relative;
}

.nav-bar nav {
    display: inline-block;
    line-height: 18.9px;
}

.nav-bar nav:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -3rem;
} 

.nav-bar li {
    margin-right: 3rem;
    vertical-align: sub;
}

/* MAIN-SEC */
.main-sec {
    height: 80vh;
    padding-top: 5rem;
    overflow-y: visible;
}

.main-sec h1 {
    font-size: 57px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.col-sec > div {
    display: inline-block;
}

.col-sx {
    width: 30%;
    margin-right: 4rem;
    vertical-align: top;
}

.col-dx {
    width: calc(1000px - 300px - 5rem);
}

.col-dx img {
    width: 100%;
}

.col-sx p {
    margin-bottom: 2rem;
}

.col-sx a {
    display: inline-block;
    margin-bottom: 1rem;
}

.col-sx > a + div {
    font-size: 10px;
    margin-bottom: 2rem;
}

.col-sx > a:last-child {
    width: 2rem;
}

/* BUSINESS-SECTION */
.billing {
    margin-bottom: 2rem;
}

.billing svg {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
}

.billing span:last-child {
    margin-left: 1rem;
}

.billing span:first-child svg {
    fill: #126CFF;
}

.billing span:last-child svg{
    fill: lightgrey
}




